*{
    font-family: monospace;
    color: white;
}
body{
    background:black;
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    width: 100%;
    height: 500px;
    background-image: url('../img/sistemaSolar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(25%);
}

ul{
    margin: 0;
    padding: 0;
    border: 0;
}

.itemMenu{
    display: inline-flex;
    float: right;
    margin-right: 40px;
    margin-top: 2%;
}

.itemMenu a{
    text-decoration: none;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.itemMenu a:hover{
    font-size: 16px;
}

.headerDesc{
    margin-left: 28%;
    position: relative;
    width: 43%;
    animation: mymove 3.3s infinite ease;
    transition: 1s ease-in;
}

@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 20px;}
    50%  {top: 0px;}
    75%  {top: 20px;}
    100% {top: 0px;}
}

.headerDesc h1{
    font-size: 34px;
    margin-top: 0%;
    padding-top: 15%;
}

.headerDesc p{
    font-size: 16px;
    text-align: center;
    margin-left: -13%;
}
/* FIM CABEÇALHO */
.descSobre , .imgSobre{
    height: 350px;
    float: left;
    text-align: center;
    transition: ease-in;
}

.imgSobre{
    width: 60%;
}

.descSobre{
    width: 40%;
}

.imgSobre{
    background-image: url('../img/nave.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.descSobre h2{
    width: 95%;
    height: 24px;
    margin-left: 5%;
}
.descSobre p{
    width: 90%;
    height: 46%;
    margin-top: 25%;
    margin-left: 10px;
}

.teste{
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    position: fixed;
}

.telaLogin{
    width: 40%;
    height: 80%;
    margin-left: 30%;
    margin-top: -30%;
    background-color: black;
    border: 1px solid yellow;
    border-radius: 25px;
    position: absolute;
    display: none;
    transition: 4s ease;
}

.btnEscolhar{
    display: inline-flex;
    height: 65px;
    width: 99.3%;
}

#btnLogin{
    border-radius: 25px 0px 0px 0px;
    border-right: 2px solid white;
}

#btnCadastra{
    border-right: 2px solid white;
}

#btnFechar{
    border-radius: 0px 25px 0px 0px;
    width: 7%;
}

.btnEscolha{
    width: 47%;
    height: 65px;
    color: white;
    background-color: black;
    border: transparent;
    border-bottom: 1px solid white;
    transition: 0.2s ease;
}

.btnEscolha:hover{
    border-bottom: 3px solid white;
    font-size: 16px;
    background-color: rgb(20, 20, 20); 
}

.login{
    height: 70%;
    text-align: center;
}

.btnEntrar{
    margin-top: 5%;
    background-color: rgba(255, 255, 0, 0.6);
    color: black;
    width: 25%;
    height: 40px;
    border: yellow 3px solid;
}

.btnEntrar:hover{
    background-color: rgba(255, 255, 0, 1);
}

.tituloLogin{
    margin-top: 10%;
}

.txtLogin{
    width: 50%;
    height: 30px;
    font-size: 20px;
    background-color: black;
    border: transparent;
    border-bottom: 2px white solid;
}

.cadastro{
    color: black;
    display: none;
}

.erro{
    color: red;
}

footer{
    width: 100%;
    height: 40%;
    text-align: center;
}

footer p{
    margin-top: 10px;
}