*{
    font-family: monospace;
    color: white;
}
body{
    background:black;
    margin: 0;
    padding: 0;
    border: 0;
}

ul{
    margin: 0;
    padding: 0;
    border: 0;
}

.itemMenu{
    display: inline-flex;
    margin-left: 13%;
    margin-top: 2%;
}

.itemMenu a{
    text-decoration: none;
    transition: 0.2s step-end;
    opacity: 0.5;
    color: white;
}

#aMenu{
    cursor: pointer;
}

.itemMenu a:hover{
    opacity: 1;
}

.Menu {
    height: 30%;
    width: 28%;
    background-color: rgb(24, 24, 24);
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.botaoMenu{
    cursor: pointer;
    width: 99%;
    height: 40px;
}

.botaoMenu:hover{
    background-color: rgb(48, 48, 48);
}

.parte1{
    display: flex;
    margin-top: 20px;
    text-align: center;
    transition: 0.2s ease;
}

.imgSistema{
    width: 40%;
    height: 300px;
    background-image: url('../img/sistemaSolar2.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}

.descSistema{
    width: 60%;
    height: 300px;
    margin: 0;
    background-color: rgb(5, 5, 5);
}

.descSistema p {
    width: 70%;
    margin-left: 12%;
}

.planeta{
    width: 11.5%;
    height: 70px;
    border: 1px solid white;
    display: inline-flex;
    margin-top: 4%;
    margin-left: 0.2%;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease-in;
    color: white;
}

.CaixaNiveis{
    width: 99%;
    height: 400px;
    border: 1px solid white;
    text-align: center;
    margin-top: 5px;
}

.CaixaQuiz{
    width: 23%;
    height: 90%;
    background: gray;
    display: inline-block;
}

.btnResponder{
    background: black;
    width: 50%;
    height: 30px;
    border: none;
    transition: 0.4s ease-in;
}

.btnResponder:hover{
    box-shadow: 5px 5px ;
}